body {
margin: 0;



}

h1 {
  font-family:'Inspiration', cursive;
  font-size: 50px;
  position: relative;
  left: 580px;
  top: 0;
  margin: 0;
  width: 150px;
}
.h2{
  position: relative;
  top:100px;
}

p {
  font-size: 30px;
  font-family: 'Inspiration', cursive;
  position: relative;
  margin-left: 0;
  width: 150px;
  top: 10px;
  left: 590px;
}
.top-container {
  background-color: #FFA900;
  height: 2000px;
  bottom: 400px;
}
.middle-container {
  background-color: #B5FE83;
  margin-top: 0;
  width: 1265px;
  height: 1400px;
}
.bottom-container {
  background-color: #5EE6EB;
  width: 1265px;
  height: 300px;
}



.mountain {
  position: relative;
  left: 200px;
  top: 10px;
  width: 600px;
}
.cloud-1 {
  position:relative;
  top: 500px;
  left:400px;
  animation: mymove 100s infinite;
  animation-timing-function: linear;
}
@keyframes mymove {
  from{left: 5;}
  to{left: 300px;}

}
.cloud-2 {
position: relative;
bottom: 300px;
left: 600px;
animation: mymoves 100s infinite;
animation-timing-function: linear;
}
@keyframes mymoves {
  from{left: 0;}
  to{left: 500px;}
}
.cloud-3 {
  position: absolute;
  top: 800px;
  animation: mymovess 100s infinite;
  animation-timing-function: linear;
}
@keyframes mymovess {
  from{left: 0;}
  to{left: 900px;}

}
.cloud-4 {
  position: relative;
 top: 600px;
 animation: mymovesss 90s infinite;
 animation-timing-function: linear;
}
@keyframes mymovesss {
  from{left: 100px;}
  to{left: 100px;}

}
.bird {
  position:relative;
  top: 600px;
 width: 150px;


}
.bird-2 {
  position: relative;
  top: 400px;
}
.sun {
  position: relative;
  left: 0;
  width: 100px;
 top: 500px;
  bottom:0;
}
.hello {
  position: relative;
  width: 100px;
  left: 600px;
  bottom: 100px;
}




.profile{
  position: relative;
font-family:cursive;
font-size: 30px;
top: 10px;
bottom: 100px;
}
.person1{
  position: relative;
  width: 100px;
  right: 50px;
}
.dog {
  width: 60px;
  position: relative;
  top: 390px;
  animation: mymove3 30s infinite;
  animation-timing-function: linear;
}
@keyframes mymove3 {
  from{left:0;}
  to{left: 1000px;}

}
.tree {
  position: relative;
  left: 40px;
  top: 1000px;
  width: 390px;
}
.skills {
  font-family: cursive;
  font-size: 20px;
}
.arrow {
  position: relative;
  width: 40px;
  bottom: 30px;
  right: 20px;
}
.dev{
  width: 100px
}
.butter {
  position: relative;
  width: 200px;
  animation: mymove4 30s infinite;
  animation-timing-function: linear;

}
@keyframes mymove4 {
  from{left:0;}
  to{left: 800px;}
}
.bizz{
  position: relative;
  top: 300px;
  left: 530px;
  width: 200px;
}
.self {
  position: relative;
  width: 200px;
  left: 330px;
}

.insta {
  background-color: #5EE6EB;
  width: 50px;
}
.button {
  position: relative;

    background-color: #5EE6EB;
  width: 50px;

  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.fish {
  position: relative;
  top: 100px;
  width: 120px;
  animation: mymove5 50s infinite;
  animation-timing-function: linear;
}
@keyframes mymove5 {
  from{left:0;}
  to{left: 800px;}
}
.bottom-container {
  font-family: 'Inspiration', cursive;
}
